@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    /* Nota: center center, centra la imagen
        Cover: resize the image to cover the entire container. */
    background: #333333 url('city-lit-up-at-night-316902.jpg') no-repeat center center / cover;
    color: #cccccc;
    /* Nota: Oculta las barras de desplazamiento */
    overflow: hidden;
}

a {
    color: cyan;
}

a:hover {
    background: darkcyan;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1, h2 {
    font-weight: 400;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: #aaa;
}

@media(min-width: 1200px){
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px){
    h1 {
        font-size: 3rem;
    }

    .container {
        padding: 0 1rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

